<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ecommerce</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Auth</display-name>
    <servlet-name>Auth</servlet-name>
    <servlet-class>com.Ecommerce.Servlets.Auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth</servlet-name>
    <url-pattern>/Auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ArticlesAdmin</display-name>
    <servlet-name>ArticlesAdmin</servlet-name>
    <servlet-class>com.Ecommerce.ServletsAdmin.ArticlesAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArticlesAdmin</servlet-name>
    <url-pattern>/ArticlesAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Profile</display-name>
    <servlet-name>Profile</servlet-name>
    <servlet-class>com.Ecommerce.Servlets.Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandesAdmin</display-name>
    <servlet-name>CommandesAdmin</servlet-name>
    <servlet-class>com.Ecommerce.ServletsAdmin.CommandesAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandesAdmin</servlet-name>
    <url-pattern>/CommandesAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.Ecommerce.Servlets.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UtilisateursAdmin</display-name>
    <servlet-name>UtilisateursAdmin</servlet-name>
    <servlet-class>com.Ecommerce.ServletsAdmin.UtilisateursAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UtilisateursAdmin</servlet-name>
    <url-pattern>/UtilisateursAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommandesUser</display-name>
    <servlet-name>CommandesUser</servlet-name>
    <servlet-class>com.Ecommerce.ServletsUser.CommandesUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommandesUser</servlet-name>
    <url-pattern>/CommandesUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>com.Ecommerce.Servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Panier</display-name>
    <servlet-name>Panier</servlet-name>
    <servlet-class>com.Ecommerce.ServletsUser.Panier</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Panier</servlet-name>
    <url-pattern>/Panier</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>profile</display-name>
    <servlet-name>profile</servlet-name>
    <servlet-class>com.Ecommerce.Servlets.profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>profile</servlet-name>
    <url-pattern>/profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileAdmin</display-name>
    <servlet-name>ProfileAdmin</servlet-name>
    <servlet-class>com.Ecommerce.ServletsAdmin.ProfileAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileAdmin</servlet-name>
    <url-pattern>/ProfileAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeUser</display-name>
    <servlet-name>HomeUser</servlet-name>
    <servlet-class>com.Ecommerce.ServletsUser.HomeUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeUser</servlet-name>
    <url-pattern>/HomeUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileUser</display-name>
    <servlet-name>ProfileUser</servlet-name>
    <servlet-class>com.Ecommerce.ServletsUser.ProfileUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileUser</servlet-name>
    <url-pattern>/ProfileUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeA</display-name>
    <servlet-name>HomeA</servlet-name>
    <servlet-class>com.Ecommerce.ServletsAdmin.HomeA</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeA</servlet-name>
    <url-pattern>/HomeA</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailsCMD</display-name>
    <servlet-name>DetailsCMD</servlet-name>
    <servlet-class>com.Ecommerce.ServletsUser.DetailsCMD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailsCMD</servlet-name>
    <url-pattern>/DetailsCMD</url-pattern>
  </servlet-mapping>
</web-app>